<html>

<head>
    <meta charset="utf-8">
    <!-- importer le fichier de style -->
    <link rel="stylesheet" href="/style/style.css" media="screen" type="text/css" />

</head>

<body>
    <div id="container" class='homeindex'>
        <h1>Hello Page</h1><br />

        <div class="contenu">
            <button class="button"><a href="/login" class="btn btn-success ml-2">Login</a></button>
            <button class="button"><a href="/register" class="btn btn-success ml-2">Register</a></button>
        </div>

    </div>
</body>

</html>