<html>
    <head>
       <meta charset="utf-8">
        <!-- importer le fichier de style -->
        <link rel="stylesheet" href="/style/style.css" media="screen" type="text/css" />

    </head>
    <body>
        <div id="container" class='homeindex'> 
            <h1>Hello Page</h1><br />
            
            <button class="button"><a href="/login" class="btn btn-success ml-2">Login</a></button><br />
            <button class="button"><a href="/register" class="btn btn-success ml-2">Register</a><br /></button><br />

        </div>
    </body>
</html>